.reveal blockquote {
    width: 100%;
}

.org-src-container pre {
    background: #3F3F3F;
    color: #fff;
}
                    
.reveal::before {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 40px;
    background: #69696d url('img/xivo-transparent.png') no-repeat;
    content:"";
}
